<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"

       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">


    <!-- import cxf webservices -->
    <import resource="classpath*:META-INF/cxf/cxf.xml"/>
    <import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath*:META-INF/cxf/cxf-servlet.xml"/>

<bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>
<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />
<bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' />

	<jaxrs:server id="product" address="/"  >
		<jaxrs:serviceBeans>
			<ref bean="dummycontroller"/>
			<ref bean="userscontroller"/>
			<ref bean="productscontroller"/>
			<ref bean="offerscontroller"/>
			<ref bean="recommendationscontroller"/>
			<ref bean="registerscontroller"/>
			<ref bean="cors-server"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
      <ref bean="cors-filter" />
			<ref bean="jaxbProvider" />
			<ref bean="jacksonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
	</jaxrs:server>

	<bean id="dummycontroller" class="rest.controllers.DummyController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
	<bean id="userscontroller" class="rest.controllers.UsersController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
	<bean id="productscontroller" class="rest.controllers.ProductsController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
	<bean id="offerscontroller" class="rest.controllers.OffersController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
	<bean id="recommendationscontroller" class="rest.controllers.RecommendationsController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
		<bean id="registerscontroller" class="rest.controllers.RegistersController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>
	<bean id="cors-server" scope="prototype" class="rest.controllers.CorsController">
		<property name="generalService" ref="services.general.generalservice"/>
	</bean>

</beans>
